# dependencies
node_modules/
client/node_modules/
server/node_modules/

# package managers
.pnp
.pnp.*
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build / dist
client/.next/
client/out/
client/build/
server/dist/
server/build/

# environment variables
.env*
client/.env*
server/.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
client/next-env.d.ts

# prisma
server/src/generated/prisma